:root{
  --bg-color: #333;  
  --text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

.container{
  margin: 0 auto;
  max-width: 1024px;
  
}

.nav-container{
  
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col{
  flex-direction: column;
}

.calculadora{
}